* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}


body {
    margin: 1.5em;
    background-color: #06121d;
    color: #f2fbfb;
}

.highlight {
    color: #e39b28;
    font-weight: bold;
}

a {
    text-decoration: none;
    font-size: 1.3rem;
}


.topbar {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0.5em 1em 0.5em 1em;
    z-index: 3;
    background: #06121d;
    height: 6%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.logo {
    color:#f2fbfb;
    font-weight: bold;
        span {
            color: #e39b28;
        }
}

nav {
    position: fixed;
    right: 0;
    top: 0;
    background: #06121d;
    height: 100vh;
    width: 50%;
    z-index: 999;
    text-transform: uppercase;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;

    ul {
        list-style-type: none;
        padding: 0;
        margin-top: 8em;

        a {
            color: #f2fbfb;
            padding: 0.75em 2em;
            display: block;
            font-size: 1rem;

            &:hover {
                background: #e39b28;
            }
        }
    }
    
    .close {
        float: right;
        margin: 2em;
        width: 2em;
        &:hover {
            background: #e39b28;
            border-radius: 0.5em;
        }
    }    
}

header {
    display: flex;
    justify-content: space-between;
    

    svg {
        width: 2.3em;
        margin-top: 0em;
        cursor: pointer;
        &:hover {
            background: #e39b28;
            border-radius: 0.5em;
        }
    }
}

.open-nav {
    transform: translateX(0);
}

//=================Any section==================//

.section {
    padding: 2em 0 4em;
}

.section_title {
    font-size: 2rem;
}

.section_subtitle {
    display: block;
    font-size: 1rem;
    margin-bottom: 1.5em;
}

.section_title, .section_subtitle {
    text-align: center;
}


//=================Home==================//


.home_container {
    gap: 1em;
}

.home_content {
    display: grid;
    grid-template-columns: .5fr, 3fr;
    padding-top: 3.5em;
    align-items: center;
}

.home_social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}
.home_social-icon {
    font-size: 2rem;
    color: #f2fbfb;
        &:hover {
            color: #e39b28;
        }
}

.home_blob {
    width: 200px;
    fill: #e39b28;
        img {
            width: 200px;
        }
        &:hover {
            transform: scale(1.1);
            transition: 0.5s;
        }
}

.home_data {
    padding-top: 3em;
    grid-column: 1/3;
        .home_title {
            font-size: 2.5rem;
            color: #e39b28;
        }
        .home_subtitle {
            font-size: 1.5rem;
            margin-bottom: 1em;
        }
        .home_description {
            margin-bottom: 2em;
        }
}

.home_scroll-button {
    color: #f2fbfb;
    transition: 0.3s;
        &:hover {
            color: #e39b28;
            transform: translateY(0.25rem);
        }
}

.home_scroll-mouse {
    font-size: 1.5rem;
}

.home_scroll-name {
    font-size: 1rem;
    color: #f2fbfb;
    font-weight: medium;
    margin-right: 0.3em;
}

.home_scroll-arrow {
    font-size: 1.5rem;
}

.button {
    display: inline-block;
    background: #f2fbfb;
    color: #e39b28;
    font-size: 1.2rem;
    font-weight: medium;
    padding: 1em;
    border-radius: 1em;
    margin-bottom: 0.5em;
    cursor: pointer;
    border: none;
        &:hover {
            color: #f2fbfb;
            background: #e39b28;
        }
}

.button_icon {
    font-size: 1.5rem;
    margin-left: 0.2em;
    transition: 0.3s;
}

.button-flex {
    display: inline-flex;
    align-items: center;
}


//=================About==================//

.about_img {
    display: block;
    width: 200px;
    border-radius: 0.5em;
    margin: 0 auto 0.5em auto;
}

.about_description {
    text-align: center;
    margin-bottom: 1em;
}

.about_info {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1.5em;
}

.about_info-title {
    font-size: 2rem;
    font-weight: bold;
    color: #e39b28;
}

.about_info-name {
    font-size: 1rem;
}

.about_info-title, .about_info-name {
    display: block;
    text-align: center;
}

.about_buttons, .certification_buttons, .work_buttons{
    display: flex;
    justify-content: center;
}


//=================Skills==================//


.skill_coding-head {
    text-align: center;
    padding: 2em 0 2em 0;
    color: #e39b28;
}

.skill_coding-logo, .skill_UI-logo {
    display: flex;
    justify-content: space-around;
    padding-top: 1em;
}

.HTML_logo, .CSS_logo, .JS_logo,
.figma_logo, .XD_logo {
    align-items: center;
    text-align: center;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
        transition: 0.8s;
    }
}

.HTML_logo-svg, .CSS_logo-svg, .JS_logo-svg,
.figma_logo-svg, .XD_logo-svg {
    width: 26vw;
    margin: 0 0.2em 0 0.2em;
}

//=================Certification==================//



.certification_google-head {
    text-align: center;
    padding: 0 0 1em 0;
    color: #e39b28;
}

.certification_google img, .certification_JHU img, 
.certification_ICDL img {
    display: block;
    margin: 0 auto 0.5em auto;
}

.google_logo-png {
    width: 50px;
}

.google_certification-png, .JHU_certification-png, .ICDL_certification-png {
    padding-top: 1em;
    width: 85%;
    height: 180px;
}

.certification_JHU-head, .certification_ICDL-head {
    text-align: center;
    padding: 2em 0 1em 0;
    color: #e39b28;
}

.JHU_logo-png, .ICDL_logo-png {
    width: 120px;
}


//=================Work==================//




.gcfi_app-title, .gcfi_web-title, .pia_app-title {
    text-align: center;
    margin: 1em 0 1em 0;
    color: #e39b28;
}



.gcfi_app-prototype {
    img {
        display: block;
        margin: auto;
        width: 50%;
        height: 300px;
    }
    p {
        text-align: center;
        margin: 1em 0 1em 0;
        color: #e39b28;
        font-weight: bold;
        font-size: 1rem;
        text-decoration: underline;
    }
}

.gcfi_web-prototype {
    img {
        display: block;
        margin: auto;
        width: 80%;
        height: 300px;

    }
    p {
        text-align: center;
        margin: 1em 0 1em 0;
        color: #e39b28;
        font-weight: bold;
        font-size: 1rem;
        text-decoration: underline;
    }
}

.pia_app-prototype {
    img {
        display: block;
        margin: auto;
        width: 50%;
        height: 300px;
    }
    p {
        text-align: center;
        margin: 1em 0 1em 0;
        color: #e39b28;
        font-weight: bold;
        font-size: 1rem;
        text-decoration: underline;
    }
}


.gcfi_app-description, .gcfi_web-description, 
.pia_web-description {
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 0.5em;
}


//=================Contact==================//

.contact_container {
    row-gap: 3em;
}

.contact_information {
    display: flex;
    margin-bottom: 1em;
}

.contact_icon {
    font-size: 2rem;
    color: #f2fbfb;
    margin-right: 1em;
}

.contact_title {
    font-size: 1.2rem;
    color: #e39b28;
}

.contact_subtitle {
    font-size: 1rem;
    text-decoration: none;
}

.contact_content {
    background: #e39b28;
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 1em 0 1em 0;
}

.contact_input {
    width: 100%;
    background: #f2fbfb;
    font-size: 1rem;
    border: none;
    outline: none;
    padding: 0.25em 0.5em 0.5em 0;
  
}

.contact_label {
    font-size: 1rem;
    color: #f2fbfb;
}



@media only screen and (min-width: 340px) {


    .HTML_logo-svg, .CSS_logo-svg, .JS_logo-svg,
    .figma_logo-svg, .XD_logo-svg {
        width: 20vw;
        margin: 0 0.2em 0 0.2em;
    }   

    .google_certification-png, .JHU_certification-png, .ICDL_certification-png {
        padding-top: 1em;
        width: 85%;
        height: 220px;
    }


}

@media only screen and (min-width: 460px) {

    nav ul a {
        font-size: 1.3rem;
    }

    .HTML_logo-svg, .CSS_logo-svg, .JS_logo-svg,
    .figma_logo-svg, .XD_logo-svg {
        width: 20vw;
        margin: 0 0.2em 0 0.2em;
    }   

    .google_certification-png, .JHU_certification-png, .ICDL_certification-png {
        padding-top: 1em;
        width: 85%;
        height: 270px;
    }
    .gcfi_app-prototype {
        img {
            display: block;
            margin: auto;
            width: 50%;
            height: 340px;
        }
        p {
            text-align: center;
            margin: 1em 0 1em 0;
        }
    }
    
    .gcfi_web-prototype {
        img {
            display: block;
            margin: auto;
            width: 65%;
            height: 340px;
    
        }
        p {
            text-align: center;
            margin: 1em 0 1em 0;
        }
    }
    
    .pia_app-prototype {
        img {
            display: block;
            margin: auto;
            width: 50%;
            height: 340px;
        }
        p {
            text-align: center;
            margin: 1em 0 1em 0;
        }
    }
}


@media only screen and (min-width: 680px) {

    body {
        margin: 1.5em 5em;
    }

    .home_blob {
        width: 260px;
        fill: #e39b28;
            img {
                width: 260px;
            }
            &:hover {
                transform: scale(1.1);
                transition: 0.5s;
            }
    }

    .about_img {
        display: block;
        width: 260px;
        border-radius: 0.5em;
        margin: 0 auto 0.5em auto;
    }


    .HTML_logo-svg, .CSS_logo-svg, .JS_logo-svg,
    .figma_logo-svg, .XD_logo-svg {
        width: 20vw;
        margin: 0 0.2em 0 0.2em;
    }   

    .google_certification-png, .JHU_certification-png, .ICDL_certification-png {
        padding-top: 1em;
        width: 85%;
        height: 360px;
    }

    .gcfi_app-prototype {
        img {
            display: block;
            margin: auto;
            width: 50%;
            height: 420px;
        }
        p {
            text-align: center;
            margin: 1em 0 1em 0;
        }
    }
    .gcfi_web-prototype {
        img {
            display: block;
            margin: auto;
            width: 65%;
            height: 440px;
    
        }
        p {
            text-align: center;
            margin: 1em 0 1em 0;
        }
    }
    
    .pia_app-prototype {
        img {
            display: block;
            margin: auto;
            width: 50%;
            height: 420px;
        }
        p {
            text-align: center;
            margin: 1em 0 1em 0;
        }
    }

}

@media only screen and (min-width: 920px) {

    .menu {
        display: none;
    }
    nav {
        transform: translateX(0);
        position: unset;
        display: block;
        width: auto;
        height: auto;
        background: none;

        svg.close {
            display: none;
        }
        ul {
            display: flex;
            margin: 0;
    
            a {
                color: #f2fbfb;
                padding: 0.5em 1.5em;
                font-size: 0.9rem;

                &:hover {
                    background: #e39b28;
                    text-decoration: underline;
                }
            }
        }
    }


    .home_blob {
        width: 300px;
        fill: #e39b28;
            img {
                width: 260px;
            }
            &:hover {
                transform: scale(1.1);
                transition: 0.5s;
            }
    }

    .about_img {
        display: block;
        width: 300px;
        border-radius: 0.5em;
        margin: 0 auto 0.5em auto;
    }


    .HTML_logo-svg, .CSS_logo-svg, .JS_logo-svg,
    .figma_logo-svg, .XD_logo-svg {
        width: 16vw;
        margin: 0 0.2em 0 0.2em;
    }


    .google_certification-png, .JHU_certification-png, .ICDL_certification-png {
        padding-top: 1em;
        width: 75%;
        height: 450px;
    }

    .gcfi_app-prototype {
        img {
            display: block;
            margin: auto;
            width: 55%;
            height: 700px;
        }
        p {
            text-align: center;
            margin: 1em 0 1em 0;
            color: #e39b28;
            font-weight: bolder;
        }
    }
    .gcfi_web-prototype {
        img {
            display: block;
            margin: auto;
            width: 70%;
            height: 700px;
    
        }
        p {
            text-align: center;
            margin: 1em 0 1em 0;
        }
    }
    
    .pia_app-prototype {
        img {
            display: block;
            margin: auto;
            width: 55%;
            height: 700px;
        }
        p {
            text-align: center;
            margin: 1em 0 1em 0;
        }
    }


    .contact_form {
        width: 80%;
    }

}
    





@media only screen and (min-width: 1200px) {

    .google_certification-png, .JHU_certification-png, .ICDL_certification-png {
        padding-top: 1em;
        width: 55%;
        height: 420px;
    }

    .gcfi_app-prototype {
        img {
            display: block;
            margin: auto;
            width: 30%;
            height: 500px;
        }
        p {
            text-align: center;
            margin: 1em 0 1em 0;
        }
    }
    .gcfi_web-prototype {
        img {
            display: block;
            margin: auto;
            width: 40%;
            height: 500px;
    
        }
        p {
            text-align: center;
            margin: 1em 0 1em 0;
        }
    }
    
    .pia_app-prototype {
        img {
            display: block;
            margin: auto;
            width: 30%;
            height: 500px;
        }
        p {
            text-align: center;
            margin: 1em 0 1em 0;
        }
    }

    .contact_form {
        width: 70%;
    }



}


//------animation home-------//

#home {
    animation: moveDown 1s ease-in-out forwards;
    opacity: 0;
}
#about {
    animation: moveDown 1.2s ease-in-out forwards;
    opacity: 0;
}
#skills {
    animation: moveDown 1.4s ease-in-out forwards;
    opacity: 0; 
}
#certification {
    animation: moveDown 1.6s ease-in-out forwards;
    opacity: 0;
}
#work {
    animation: moveDown 1.8s ease-in-out forwards;
    opacity: 0; 
}
#contact {
    animation: moveDown 2.0s ease-in-out forwards;
    opacity: 0;
}



@keyframes moveDown {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0);
        opacity: 1;
        }
}

   
   


